<footer class="bg-dark text-white mt-3 pt-5 pb-3">
    <div class="container">
      <div class="row justify-content-between ">
        <!-- 1. Subscribe Form with Button -->
        <div class="col-md-4 col-lg-3">
          <h5>Subscribe</h5>
          <p>Get our latest offers and updates.</p>
          <form action="#" method="post">
            <div class="input-group">
              <input type="email" class="form-control rounded" placeholder="Enter your email" required>
              <div class="input-group-append ms-1">
                <button class="btn  btn-warning" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
  
        <!-- 2. Support Content -->
        <div class="col-md-2 col-lg-2">
          <h5>Support</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Help Center</a></li>
            <li><a href="#" class="text-white">Contact Us</a></li>
            <li><a href="#" class="text-white">Return Policy</a></li>
            <li><a href="#" class="text-white">FAQs</a></li>
          </ul>
        </div>
  
        <!-- 3. Account -->
        <div class="col-md-2 col-lg-2">
          <h5>Account</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">My Account</a></li>
            <li><a href="#" class="text-white">Order History</a></li>
            <li><a href="#" class="text-white">Wish List</a></li>
            <li><a href="#" class="text-white">Track Order</a></li>
          </ul>
        </div>
  
        <!-- 4. Quick Links -->
        <div class="col-md-2 col-lg-2">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">About Us</a></li>
            <li><a href="#" class="text-white">Privacy Policy</a></li>
            <li><a href="#" class="text-white">Terms & Conditions</a></li>
            <li><a href="#" class="text-white">Sitemap</a></li>
          </ul>
        </div>
  
        <!-- 5. Download App Section -->
        <div class="col-md-2 col-lg-2">
          <h5>Download Our App</h5>
          <p>Shop on the go.</p>
          <div class="download-app">
            <a href="#" class="mr-2">
              <img src="assets/img/google-play.png" alt="App Store" class="img-fluid" >
            </a>
            <a href="#">
              <img src="assets/img/App-Store.png" alt="Google Play" class="img-fluid ms-2" >
            </a>
          </div>
          
        </div>
      </div>
      <div class="text-center pt-3 border-top border-secondary mt-4">
        <p class="mb-0">&copy; 2025 Your Ecomm Website. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
