.sidebar {

    background: #ffffff;
    padding: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .sidebar .nav-link {
    color: rgb(2, 2, 2);
    padding: 10px;
  }
  .sidebar .nav-link:hover {
    background: #dadadb;
  }
  .sidebar .dropdown-menu {
    background: #495057;
    border: none;
  }
  .sidebar .dropdown-item {
    color: white;
  }
  .sidebar .dropdown-item:hover {
    background: #6c757d;
  }