<div class="sidebar">
    <div class="text-center">
      <h4>Exclusive</h4>
      <hr>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>

      <!-- Dropdown Menu -->
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#submenu1">
           Dropdown <i class="fa fa-chevron-down float-end text-dark"></i>
        </a>
        <div class="collapse" id="submenu1">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link" href="#">Submenu 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Submenu 2</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings 01</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings 02</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Logout</a>
      </li>
    </ul>
  </div>
