<section class="banner-ads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Banner Ads</h1>
                <div class="carousel-container">
                    <carousel [itemsPerSlide]="1" [interval]="3000" [noPause]="false" [showIndicators]="true">
                      <ng-container *ngFor="let image of images">
                        <slide>
                          <img [src]="image" class="carousel-img" alt="Banner Image">
                        </slide>
                      </ng-container>
                    </carousel>
                  </div>
            </div>
        </div>
    </div>
</section>
