<section *ngFor="let category of categories; let i = index" class="collection-01-ads mt-3">
    <div class="container">
        <div class="card">
            <div class="card-header border-0">
                <h3>{{ category.title }}</h3> <!-- Dynamic title -->
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="carousel-container">
                            <carousel [itemsPerSlide]="5" [singleSlideOffset]="true" [interval]="0" [noPause]="false" [showIndicators]="true">
                                <ng-container *ngFor="let product of category.products">
                                    <slide class="text-center">
                                        <img [src]="product.image" class="carousel-img img-fluid" alt="{{ product.name }}">
                                        <p class="mb-0">{{ product.name }}</p>
                                        <h5><b>{{ product.price }}</b></h5>
                                    </slide>
                                </ng-container>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
