.collection02 ul {
    flex-wrap: wrap; 
    padding: 0;
}

.collection02 ul li {
    width: 50%; /* Set width to 50% */
    list-style: none; /* Remove default bullet points */
    text-align: center; /* Center content */
    padding: 10px; /* Add some padding */
}
.collection02 img
{
    max-width: 130px;
    max-height: 120px;
}
.card
  {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
  }