/* You can add global styles to this file, and also import other style files */
a
{
    text-decoration: none !important;
    
}
body
{
    background-color: rgb(230, 229, 235) !important;
}
ul, li
{
    list-style: none;
    margin-bottom: 0;
}